Form card

/* Form group spacing */
.form-group {
    
    margin-bottom: 15px;
}
/* Labels */
.form-card label {
    display: block;
    margin-bottom: 7px; 
    font-weight: bold;
    color: #333;
}



/* Inputs */
.form-input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border 0.3s, box-shadow 0.3s;
}

/* Input focus effect */
.form-input:focus {
    border-color: #0d1522;
    box-shadow: 0 0 5px rgba(20, 21, 21, 0.5);
    outline: none;
}

/* Submit button */
.form-btn {
     margin-top: 15px;
    width: 100%;
    padding: 12px;
    background-color: #8e3b3b;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-btn:hover {
     background-color: #732a2a;
}

