{% extends "base.html" %}
{% load static %}
{% block title %}
about-as - Creme & Crunch
{% endblock %}

{% block content %}
<div class="about1">
    <img src="{% static 'image/static_img/about.jpg' %}" alt="about_img">
</div>
<div class="about-row">
    <div class="about2">
        <img src="{% static 'image/static_img/shop1.png' %}" alt="about_img">
    </div>
    <div class="about-text">
        <h2>ABOUT US</h2>
        <p>
            Delivering Incredible Taste since 1960!<br>
            Renowned as “Dilli Darwaja” wala BKB stores, we are Bharat Krishna Cakes and Pastry, the very first commercial bakery shop of Ahmedabad. With a portfolio of 150+ products baked to perfection with years of experience and expertise, we believe in delivering quality products that are fine-tuned to the taste and likings of our Gujaratis.<br>
            With our commitment to hygiene and change, we have made space in hearts of all the generations and with the flair for innovation, we have created products that resonate with people of all age groups.<br>
            We at Bharat Krishna inherit the soul of our city and just like Ahmedabad, we have the best of both worlds for our customers. Because from “Khari to Bharat Krishna Ni J” to “Biscuits and Cookies of BK are so awesome!” our ability to adapt to the expectations of customers has helped us stand the testament of time.<br>
            Bakery Name: <strong>Creanch</strong>
        </p>
    </div>
</div>

{% endblock %}