    {% extends "base.html" %}
    {% load static %}

    {% block title %}
    Add to cart - Creme & Crunch
    {% endblock %}

    {% block content %}
    <link rel="stylesheet" href="{% static 'css/add_cart.css' %}">

    <div class="product-page">

    <!-- LEFT: Images -->
    <div class="product-images">
        {% if main_image %}
        <img id="main-img" src="{{ main_image.image.url }}" alt="{{ product.name }}">
        {% endif %}

        <div class="thumbnails">
            {% for img in product.images.all %}
            <img src="{{ img.image.url }}" alt="" class="thumb-img">
            {% endfor %}
        </div>
    </div>

     <!-- RIGHT: Details -->
    <div class="product-details">
      <h2 style="text-transform: uppercase;">{{ product.name }}</h2>
          <!-- Product Price (above description) -->
    <p style="font-weight: bold; font-size: 20px; color: #C68C48;">
        ₹{% if first_weight %}{{ first_weight.price|floatformat:2 }}{% else %}{{ product.first_price|floatformat:2 }}{% endif %}
    </p>
        
        <p>{{ product.description }}</p>
        
    <!-- Category Display -->
    <p><strong>Category:</strong>
        {% if product.category %}
            {{ product.category.name }}
        {% else %}
            No category
        {% endif %}
    </p>

    <label for="weight">Select Weight
    <select id="weight" name="weight">
        {% for w in product.weights.all %}
            <option value="{{ w.id }}" data-price="{{ w.price }}">{{ w.weight }}</option>
        {% empty %}
            <option value="" data-price="0">No weight available</option>
        {% endfor %}
    </select>
    </label>

    <p>Unit price: <span id="price">
        {% if first_weight %}
            ₹{{ first_weight.price|floatformat:2 }}
        {% else %}
           ₹0.00
        {% endif %}
    </span></p>

    <!-- Quantity Selector -->
    <div>
        <label><strong>Quantity</strong></label>
        <button type="button" id="decrease" >-</button>
        <input type="text" id="quantity" value="1" readonly style="width:40px; text-align:center;">
        <button type="button" id="increase" style="padding:5px 10px;">+</button>
    </div>

 
<a href="{% url 'payment' %}" id="add-to-cart" class="btn">Add to Cart</a>


    </span></p>
    </div>
    </div>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <script>
        window.addCartConfig = {
            url: "{% url 'add_cart' %}",
            productId: "{{ product.id }}"
        };
    </script>
    <script src="{% static 'js/add_cart.js' %}"></script>
    {% endblock %}
