{% extends "base.html" %}
{% load static %}

{% block title %}
Add to cart - Creme & Crunch
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/add_cart.css' %}">

<div class="product-page" style="display:flex; gap:40px; margin:50px;">

  <!-- LEFT: Images -->
  <div class="product-images">
      {% if main_image %}
      <img id="main-img" src="{{ main_image.image.url }}" alt="{{ product.name }}" style="width:400px; height:auto; border:1px solid #ccc; padding:5px;">
      {% endif %}

      <div class="thumbnails" style="display:flex; gap:10px; margin-top:10px;">
          {% for img in product.images.all %}
          <img src="{{ img.image.url }}" alt="" class="thumb-img" style="width:80px; height:auto; cursor:pointer; border:1px solid #ccc; padding:2px;">
          {% endfor %}
      </div>
  </div>

  <!-- RIGHT: Details -->
  <div class="product-details">
      <h2>{{ product.name }}</h2>
      <p><strong>Category:</strong> {{ product.category.category_name }}</p>
      <p>{{ product.description }}</p>

      <label for="weight">Select Weight:</label>
        <select id="weight" name="weight">
            {% for w in product.weights.all %}
            <option value="{{ w.id }}" data-price="{{ w.price }}">{{ w.weight }}</option>
            {% endfor %}
        </select>


      <p>Price: ₹<span id="price">{{ product.weights.first.price }}</span></p>

      <label for="quantity">Quantity:</label>
      <input type="number" id="quantity" name="quantity" value="1" min="1">

      <button id="add-to-cart" style="background:#b9835c; color:white; padding:10px 20px; border:none; margin-top:20px;">
          Add to Cart
      </button>
  </div>
</div>

<script src="{% static 'js/add_cart.js' %}"></script>
{% endblock %}
